#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #76b947, #b1d8b7, #2f5233, #94c973);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* متن و پس زمینه */
input[type="text"], input[type="password"] {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
}

/* هنگام کلیک */
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #008dff;
    box-shadow: 0 0 8px rgba(19, 145, 252, 0.6);
}

.button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}
